<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HttpPractice</servlet-name>
        <servlet-class>riya.HttpPractice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>riya.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSecond</servlet-name>
        <servlet-class>riya.ServletSecond</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpPractice</servlet-name>
        <url-pattern>/HttpPractice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSecond</servlet-name>
        <url-pattern>/ServletSecond</url-pattern>
    </servlet-mapping>
</web-app>
